
$color-grey-50: rgb(250, 250, 250);
$color-grey-100: rgb(245, 245, 245);
$color-grey-200: rgb(238, 238, 238);
$color-grey-300: rgb(224, 224, 224);
$color-grey-400: rgb(189, 189, 189);
$color-grey-500: rgb(158, 158, 158);
$color-grey-600: rgb(117, 117, 117);
$color-grey-700: rgb(97, 97, 97);
$color-grey-800: rgb(66, 66, 66);
$color-grey-900: rgb(33, 33, 33);
