@import '~normalize.css/normalize';

@import './fonts/fontawesome';
@import './fonts/roboto';
@import './color';


html, body {
    font-size: 10pt;
    font-family: 'Roboto';
    height: 100%;
    margin: 0px;
}


.window {
    height: 100%;
    display: flex;
}


.left-panel {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: $color-grey-100;

    .group {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-bottom: 0px;
    }

    .header {
        flex-shrink: 0;
        margin: 10px;
        display: flex;
        align-items: center;

        .title {
            flex-grow: 1;
            font-size: 18pt;
            font-weight: 500;
            color: $color-grey-800;
        }

        a {
            font-size: 24pt;
            color: $color-grey-800;

            &:visited {
                color: $color-grey-800;
            }

            &:hover {
                color: black;
            }
        }
    }

    .list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-bottom: 0px;

        & > * {
            flex-shrink: 0;
        }

        .content {
            flex-grow: 1;
            flex-shrink: 1;
            overflow: auto;
        }

        .add {
            align-self: flex-end;
        }
    }

    .submit {
        flex-shrink: 0;
        margin: 10px;
        padding: 10px;
    }
}


.center-panel {
    flex-grow: 1;
}


.right-panel {

}
