
@mixin font($variant, $type, $weight, $style) {
    @font-face {
        font-family: '#{$variant}';
        src: url('../fonts/#{$variant}/#{$variant}-#{$type}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}
