$color-black: #000000;
$color-while: #FFFFFF;

$color-grey-50: #FAFAFA;
$color-grey-100: #F5F5F5;
$color-grey-200: #EEEEEE;
$color-grey-300: #E0E0E0;
$color-grey-400: #BDBDBD;
$color-grey-500: #9E9E9E;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-blue-grey-50: #ECEFF1;
$color-blue-grey-100: #CFD8DC;
$color-blue-grey-200: #B0BEC5;
$color-blue-grey-300: #90A4AE;
$color-blue-grey-400: #78909C;
$color-blue-grey-500: #607D8B;
$color-blue-grey-600: #546E7A;
$color-blue-grey-700: #455A64;
$color-blue-grey-800: #37474F;
$color-blue-grey-900: #263238;

$color-deep-orange-50: #FBE9E7;
$color-deep-orange-100: #FFCCBC;
$color-deep-orange-200: #FFAB91;
$color-deep-orange-300: #FF8A65;
$color-deep-orange-400: #FF7043;
$color-deep-orange-500: #FF5722;
$color-deep-orange-600: #F4511E;
$color-deep-orange-700: #E64A19;
$color-deep-orange-800: #D84315;
$color-deep-orange-900: #BF360C;
$color-deep-orange-A100: #FF9E80;
$color-deep-orange-A200: #FF6E40;
$color-deep-orange-A400: #FF3D00;
$color-deep-orange-A700: #DD2C00;

$color-red-50: #FFEBEE;
$color-red-100: #FFCDD2;
$color-red-200: #EF9A9A;
$color-red-300: #E57373;
$color-red-400: #EF5350;
$color-red-500: #F44336;
$color-red-600: #E53935;
$color-red-700: #D32F2F;
$color-red-800: #C62828;
$color-red-900: #B71C1C;
$color-red-A100: #FF8A80;
$color-red-A200: #FF5252;
$color-red-A400: #FF1744;
$color-red-A700: #D50000;

$color-yellow-50: #FFFDE7;
$color-yellow-100: #FFF9C4;
$color-yellow-200: #FFF59D;
$color-yellow-300: #FFF176;
$color-yellow-400: #FFEE58;
$color-yellow-500: #FFEB3B;
$color-yellow-600: #FDD835;
$color-yellow-700: #FBC02D;
$color-yellow-800: #F9A825;
$color-yellow-900: #F57F17;
$color-yellow-A100: #FFFF8D;
$color-yellow-A200: #FFFF00;
$color-yellow-A400: #FFEA00;
$color-yellow-A700: #FFD600;

$color-blue-50: #E3F2FD;
$color-blue-100: #BBDEFB;
$color-blue-200: #90CAF9;
$color-blue-300: #64B5F6;
$color-blue-400: #42A5F5;
$color-blue-500: #2196F3;
$color-blue-600: #1E88E5;
$color-blue-700: #1976D2;
$color-blue-800: #1565C0;
$color-blue-900: #0D47A1;
$color-blue-A100: #82B1FF;
$color-blue-A200: #448AFF;
$color-blue-A400: #2979FF;
$color-blue-A700: #2962FF;

$color-indigo-50: #E8EAF6;
$color-indigo-100: #C5CAE9;
$color-indigo-200: #9FA8DA;
$color-indigo-300: #7986CB;
$color-indigo-400: #5C6BC0;
$color-indigo-500: #3F51B5;
$color-indigo-600: #3949AB;
$color-indigo-700: #303F9F;
$color-indigo-800: #283593;
$color-indigo-900: #1A237E;
$color-indigo-A100: #8C9EFF;
$color-indigo-A200: #536DFE;
$color-indigo-A400: #3D5AFE;
$color-indigo-A700: #304FFE;

$color-orange-50: #FFF3E0;
$color-orange-100: #FFE0B2;
$color-orange-200: #FFCC80;
$color-orange-300: #FFB74D;
$color-orange-400: #FFA726;
$color-orange-500: #FF9800;
$color-orange-600: #FB8C00;
$color-orange-700: #F57C00;
$color-orange-800: #EF6C00;
$color-orange-900: #E65100;
$color-orange-A100: #FFD180;
$color-orange-A200: #FFAB40;
$color-orange-A400: #FF9100;
$color-orange-A700: #FF6D00;

$color-amber-50: #FFF8E1;
$color-amber-100: #FFECB3;
$color-amber-200: #FFE082;
$color-amber-300: #FFD54F;
$color-amber-400: #FFCA28;
$color-amber-500: #FFC107;
$color-amber-600: #FFB300;
$color-amber-700: #FFA000;
$color-amber-800: #FF8F00;
$color-amber-900: #FF6F00;
$color-amber-A100: #FFE57F;
$color-amber-A200: #FFD740;
$color-amber-A400: #FFC400;
$color-amber-A700: #FFAB00;
