@import '~izitoast/dist/css/iziToast.min';

@import 'color';
@import 'shadow';
@import 'fonts/fontawesome';
@import 'fonts/inter';


html, body, button, input, select {
    font-family: 'Inter';
}

html, body {
    margin: 0;
    user-select: none;
    height: 100%;
    overflow: hidden;
}

body {
    & > .main {
        height: 100%;
        display: flex;

        & > .panel-resizer {
            cursor: ew-resize;
            width: 0.4rem;
            flex-shrink: 0;
        }

        & > .left-panel {
            @include shadow-4dp;
            width: 35rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            background-color: $color-grey-100;
            overflow: auto;

            .invalid {
                background-color: rgba(red, 0.3);
            }

            & > .header {
                flex-shrink: 0;
                margin: 1rem;
                display: flex;
                align-items: center;

                & > .title {
                    flex-grow: 1;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: $color-grey-700;
                }

                & > .icon {
                    font-size: 1.5rem;
                    color: $color-grey-700;
                    margin-left: 0.5rem;

                    &:visited {
                        color: $color-grey-700;
                    }

                    &:hover {
                        color: black;
                    }
                }
            }

            & > .form {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 0.5rem;
                grid-row-gap: 0.3rem;
                align-items: center;
                margin: 1rem;
            }

            & > .content {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                margin: 1rem;
                margin-bottom: 0;
                align-items: stretch;
                overflow: auto;

                & > div {
                    margin-bottom: 1rem;

                    & > table {
                        width: 100%;

                        .col-quantity, .col-height, .col-width, .col-rotate {
                            width: 5rem;

                            input {
                                text-align: right;
                            }
                        }

                        .col-delete {
                            width: 2rem;
                        }

                        & > tbody {
                            td {
                                div {
                                    display: flex;
                                    align-content: stretch;

                                    & > * {
                                        flex-shrink: 1;
                                        flex-grow: 1;
                                        width: 1rem;
                                    }

                                }
                            }
                        }

                        & > tfoot {
                            td {
                                & > div {
                                    display: flex;

                                    & > .spacer {
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & > .calculate {
                flex-shrink: 0;
                margin: 1rem;
                padding: 1rem;
            }

            .invalid {
                background-color: rgba(red, 0.2);
            }
        }

        & > .center-panel {
            flex-grow: 1;
            overflow: auto;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > .right-panel {
            @include shadow-4dp;
            width: 20rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            background-color: $color-grey-100;
            overflow: auto;

            .form {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 0.5rem;
                grid-row-gap: 0.3rem;
                align-items: center;
                margin: 1rem;
            }

            .panel {
                margin: 1.5rem 0;

                & > *:hover {
                    background-color: $color-grey-300;
                    cursor: pointer;
                }
            }

            .panel-name {
                padding: 0.4rem 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                color: $color-grey-800;
            }

            .item {
                padding: 0.4rem 1rem 0.4rem 2rem;
                display: flex;

                .item-name {
                    flex-grow: 1;
                }

                .item-rotate, .item-x, .item-y {
                    margin-left: 0.4rem;
                    font-weight: 600;
                    color: $color-grey-800;
                }
            }

            .selected {
                background-color: $color-grey-300;
            }
        }
    }
}
